<div class="header"> Wishlist </div>

<div class="cards">

    <mat-card class="card">
        <mat-card-header class="header">
            <mat-card-title>Nome do produto</mat-card-title>
            <mat-card-subtitle>Nome do vendedor</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Descrição
            </p>
        </mat-card-content>
        <mat-card-actions class="buttons">
            <button mat-button (click)="removeProductInYourWishlistAndShowSnackbar('Product', 'Undo')"> <i class="fas fa-times"></i> REMOVE</button>
            <button mat-button (click)="openBuyDialog('test')"> <i class="fas fa-shopping-cart"></i> BUY</button>
        </mat-card-actions>
    </mat-card>



</div>