<div class="wrapper">
    <div class="sidebar">
        <h2>Sidebar</h2>
        <ul>
            <li><a routerLink="/client-page/home" routerLinkActive="active"><i class="fas fa-home" ></i> Home</a></li>
            <li><a href="#"><i class="fas fa-user"></i> Profile</a></li>
            <li><a href="#"><i class="fas fa-dollar-sign"></i> Products</a></li>
            <li><a href="#"><i class="fas fa-heart"></i> Wishlist</a></li>
            <li><a href="#"><i class="fas fa-box"></i> Orders</a></li>
        </ul>


    </div>
    <div class="main_content">
        <router-outlet></router-outlet>
    </div>
</div>