<div class="header"> Products page </div>

<mat-paginator [length]="100" [pageSize]="9">

</mat-paginator>

<h2>Your products</h2>

<div class="cards">


    <mat-card class="card" *ngFor="let product of products">
        <mat-card-header class="header">
            <mat-card-title>{{ product.name }} </mat-card-title>
            <mat-card-subtitle>UNSOLD</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Descrição
            </p>
        </mat-card-content>
        <mat-card-actions class="buttons">
            <button mat-button> <i class="fas fa-edit"></i> EDIT</button>
            <button mat-button (click)="removeProduct(product.name, 'Undo')"> <i class="fas fa-times"></i> REMOVE</button>
        </mat-card-actions>
    </mat-card>


</div>