<div class="header" *ngIf="isLoading"> Loading... </div>
<div class="header" *ngIf="!isLoading"> {{client?.name}} </div>


<div class="home-cards">


    <div class="orders">
        <div class="content">
            <h4>Orders</h4>
            <h2 *ngIf="isLoading">Loading...</h2>
            <h2 *ngIf="!isLoading">{{client?.numberOfBuys}}</h2>
        </div>

    </div>

    <div class="money">
        <div class="content">
            <h4>Wasted</h4>
            <h2 *ngIf="isLoading">Loading...</h2>
            <h2 *ngIf="!isLoading">R$ {{client?.howMuchMoneyThisClientHasSpent}}</h2>
        </div>
    </div>

    <div class="wishlist">
        <div class="content">
            <h4>Wishlist</h4>
            <h2 *ngIf="isLoading">Loading...</h2>
            <h2 *ngIf="!isLoading">{{client?.productsWished.length}}</h2>
        </div>

    </div>

</div>

<div class="ranking">

    <div class="box">

        <div class="content">
            <h2>Client</h2>
            <ul *ngFor="let client of rankingClients; let i = index">
                <li><i class="icon"></i> {{i + 1}} - {{client.name}} - R$ {{client.money}}</li>
            </ul>
        </div>
    </div>


    <div class="box">

        <div class="content">
            <h2>Seller</h2>
            <ul *ngFor="let seller of rankingSeller; let i = index">
                <li><i class="icon"></i> {{i + 1}} - {{seller.name}} - R$ {{seller.money}}</li>
            </ul>
        </div>
    </div>
</div>