<div class="header"> Products page </div>

<mat-paginator *ngIf="!isLoading" [length]="products.length" [pageSize]="9">

</mat-paginator>

<mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="cards" *ngIf="!isLoading">

    <mat-card class="card" *ngFor="let product of products">
        <mat-card-header class="header">
            <mat-card-title>{{ product.name}} </mat-card-title>
            <mat-card-title> R$ {{product.price}} </mat-card-title>
            <mat-card-subtitle>{{ product.productOwner.name }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{product.description}}
            </p>
        </mat-card-content>
        <mat-card-actions class="buttons">
            <button mat-button (click)="addProductWishlist(product)"> <i class="fas fa-heart"></i> WISHLIST</button>
            <button mat-button (click)="openBuyDialog(product)"> <i class="fas fa-shopping-cart"></i> BUY</button>
        </mat-card-actions>
    </mat-card>


</div>