<div class="body">

    <div class="container-box">

        <!-- image -->
        <div class="container-image">

            <img src="../assets/signup.png">

        </div>


        <!-- form -->

        <mat-tab-group mat-align-tabs="center" class=container-form>
            <mat-tab label="Sign up" class="tab-group">


                <form>

                    <mat-form-field appearance="fill" class="input">
                        <mat-label>Name</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <br>

                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput [type]="'email'">
                    </mat-form-field>
                    <br>

                    <mat-form-field appearance="fill">
                        <mat-label>CPF</mat-label>
                        <input matInput mask="000.000.000-00">
                    </mat-form-field>
                    <br>

                    <mat-form-field appearance="fill">
                        <mat-label>Enter your password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
                    </mat-form-field>
                    <br>

                    <mat-form-field appearance="fill">
                        <mat-label>Type</mat-label>
                        <mat-select [(value)]="selectedValue">
                            <mat-option [(value)]="selectedValue" *ngFor="let type of types">{{ type.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>

                    <button mat-raised-button class="button-save">Save</button>

                </form>

            </mat-tab>
            <mat-tab label="Sign in">


                <form>


                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <br>


                    <mat-form-field appearance="fill">
                        <mat-label>Enter your password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
                    </mat-form-field>

                    <button mat-button color="warn">Forgot your password?</button>
                    <button mat-raised-button class="button-save">Save</button>

                </form>



            </mat-tab>
        </mat-tab-group>