<div class="body">

    <div class="container-box">

        <!-- image -->
        <div class="container-image">

            <img src="../assets/signup.png">

        </div>


        <!-- form -->

        <mat-tab-group mat-align-tabs="center" class=container-form>
            <mat-tab label="Sign up" class="tab-group">




                <form [formGroup]="signUpForm" (ngSubmit)="signUp()">

                    <mat-form-field appearance="fill" class="input">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name" required>
                    </mat-form-field>
                    <br>

                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email" required ngModel [email]="true">
                    </mat-form-field>
                    <br>


                    <mat-form-field appearance="fill">
                        <mat-label>Enter your password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
                    </mat-form-field>

                    <br>

                    <mat-form-field appearance="fill">
                        <mat-label>Type</mat-label>
                        <mat-select [(value)]="selectedValue">
                            <mat-option value="client">Client</mat-option>
                            <mat-option value="seller">Seller</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>

                    <div class="buttons" *ngIf="!isLoading">


                        <button (click)="clearFieldsSignUp()" class="button-clear" type="button" mat-button>Clear fields</button>
                        <button type="submit" mat-raised-button [disabled]="!signUpForm.valid" class="button-save">Save</button>
                    </div>



                </form>
                <div class="uploader-status">
                    <mat-spinner *ngIf="isLoading"></mat-spinner>
                </div>

            </mat-tab>
            <mat-tab label="Login">


                <form [formGroup]="loginForm" (ngSubmit)="login()">


                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email" required ngModel [email]="true">
                    </mat-form-field>
                    <br>


                    <mat-form-field appearance="fill">
                        <mat-label>Enter your password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" required>
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
                    </mat-form-field>



                    <div *ngIf="!isLoading">

                        <button mat-button color="warn" (click)="forgotPassword()">Forgot your password?</button>
                        <button mat-raised-button class="button-save" [disabled]="!loginForm.valid">Save</button>

                    </div>
                </form>

                <div *ngIf="isLoading" class="uploader-status">
                    <mat-spinner></mat-spinner>
                </div>


            </mat-tab>
        </mat-tab-group>