<h2 mat-dialog-title>Add new product</h2>
<mat-dialog-content class="mat-typography">


    <form [formGroup]="productForm" (ngSubmit)="addNewProduct()">

        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required>
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill">
            <mat-label>Price</mat-label>
            <input matInput type="number" formControlName="price" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Try to be short and objective" formControlName="description" required></textarea>
        </mat-form-field>



    </form>


</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button [disabled]="!productForm.valid" (click)="addNewProduct()" type="submit" mat-button [mat-dialog-close]="true" cdkFocusInitial>Save</button>
</mat-dialog-actions>