<div class="wrapper">
    <div class="sidebar">
        <h2>Sidebar</h2>
        <ul>
            <li><a routerLink="/seller-page/home"><i class="fas fa-home"></i> Home</a></li>
            <li><a routerLink="/seller-page/profile"><i class="fas fa-user"></i> Profile</a></li>
            <li><a routerLink="/seller-page/products"><i class="fas fa-dollar-sign"></i> Products</a></li>
            <li><a routerLink="/seller-page/sells"><i class="fas fa-box"></i> Sells</a></li>
        </ul>


    </div>
    <div class="main_content">
        <router-outlet></router-outlet>
    </div>
</div>