/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
body {
    margin: 0;
    height: 100vh;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #f3f5f9;
}

:root {
    --purple: #9006EE;
    --black: #131313;
    --white: #fff;
}

.purple-snackbar button {
    color: #9006EE !important;
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    width: 200px;
    height: 100%;
    background: var(--purple);
    padding: 30px 0px;
    position: fixed;
}

.wrapper .sidebar h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper .sidebar ul li a {
    color: #fff;
    display: block;
    text-decoration: none;
}

.wrapper .sidebar ul li a .fas {
    width: 25px;
}

.wrapper .sidebar ul li:hover {
    background-color: #594f8d;
}

.wrapper .sidebar ul li:hover a {
    color: #fff;
}

.wrapper .sidebar .contacts {
    position: absolute;
    top: 80%;
    display: flex;
}

.wrapper .sidebar .social_media a {
    display: block;
    width: 40px;
    background: #594f8d;
    height: 40px;
    line-height: 45px;
    text-align: center;
    margin: 0 5px;
    color: #bdb8d7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.wrapper .main_content {
    width: 100%;
    margin-left: 200px;
}

.wrapper .main_content .header {
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info {
    margin: 20px;
    color: #717171;
    line-height: 25px;
}

.wrapper .main_content .info div {
    margin-bottom: 20px;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 5% 5% 5%;
}

.cards .products {
    width: 30%;
    height: 35vh;
    color: #131313;
    background: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 3vh;
    position: relative;
}

.cards .products .buttons {
    position: absolute;
    bottom: 0;
    right: 0;
}

.cards .products .name {
    background-color: var(--purple);
    color: #fff;
    font-weight: 800;
    text-align: center;
    width: 100%;
    height: 5vh;
}

.cards .products .price {
    color: #32bd0f;
    font-weight: 800;
    padding-left: 5%;
    padding-top: 5%;
    font-size: 4vh;
}

.cards .products .same-row {
    display: flex;
    justify-content: space-between;
}

.cards .products .description {
    display: block;
    padding-right: 5%;
    padding-top: 5%;
    font-size: 2vh;
}

.cards .products .description .owner {
    font-weight: 500;
    color: #717171;
}

.cards .products .description .owner-name {
    font-weight: 800;
}

.cards .products .seller {
    display: block;
    padding-left: 5%;
    padding-top: 5%;
    font-size: 2vh;
}

.cards .products .seller .owner {
    font-weight: 500;
    color: #717171;
}

.cards .products .seller .owner-name {
    font-weight: 800;
}

.card {
    margin-top: 5%;
    width: 30%;
    display: block;
}

.card .header {
    text-align: left;
}

.card .content {
    text-align: left;
}

.home-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-cards div {
    margin: 5%;
    width: 25%;
    height: 20vh;
}

.home-cards div .content {
    color: #fff;
    justify-content: center;
}

.home-cards div .content h2 {
    font-size: 1.5em;
    font-weight: 800;
}

.home-cards .orders {
    background-color: blueviolet;
}

.home-cards .money {
    background-color: lightgreen;
}

.home-cards .wishlist {
    background-color: lightsalmon;
}

.ranking {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ranking .box {
    margin: 5%;
    width: 40%;
    height: 50vh;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: left;
}

.ranking .box .content {
    display: block;
    margin-top: 2%;
}

.ranking .box h2 {
    text-align: center;
}

.ranking .box ul {
    list-style-type: none;
}

.icon {
    width: 25px;
    height: 25px;
}

.ranking .box ul li:nth-child(1) {
    font-weight: 800;
}